body{
    background-color: rgb(181, 179, 179);
    font-family:Arial, sans-serif;
}

h1{
    
    margin: 20px;
    font-size: 40px;
    text-align: center;

    
}

p{
    padding: 2%;
    font-size: 1.2em;
    position: absolute;

}

#p1{
    top: 10%;
    left: 10%;
    width: 30%;
    height: 15%;
    border: 0.5px solid black;
    background-color: lightblue;
    text-align: center;
}

#p2{
    top: 15%;
    left: 25%;
    width: 30%;
    height: 15%;
    z-index: 2;
    background-color: lightgreen;
    border: 2px solid black;
    text-align:center;
}

#p3{
    top: 35%;
    left: 15%;
    width: 30%;
    height: 15%;
    border: 2px solid black;
    background-color: rgb(219, 219, 91);
    text-align:center;
}


#p4{
    top: 10%;
    right: 10%;
    width: 30%;
    height: 15%;
    border: 2px solid black;
    background-color: lightyellow;
    text-align:center;
}

#p5{
    top: 10%;
    left: 10%;
    width: 30%;
    height: 15%;
    border: 0.5px solid black;
    background-color: plum;
    text-align:center;
}

#p6{
    bottom: 10%;
    right: 10%;
    width: 30%;
    height: 15%;
    background-color: orange;
    text-align:center;
}

p:hover{
    z-index: 3;
}